<div class="content">
    <div class="card">
        <div class="card-header">
            <p-messages [(value)]="messages" [enableService]="false" />
            <h4>Product list</h4>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <!-- <label class="col-2">Filter:</label> -->
                <!-- <input type="text" class="form-control" [(ngModel)]="filterValue" placeholder="Search..."
                (input)="filter()" /> -->
                <!-- <input type="text" class="form-control"> -->
                <div class="col-7"></div>
            </div>
            <!-- <div class="row mb-4">
                <h2 class="col-12">Filter by: </h2>
            </div> -->
            <button class="btn btn-primary" [routerLink]="['/admin/products/add']">Thêm sản phẩm</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Ảnh sản phẩm
                        </th>
                        <th>Tên sản phẩm</th>
                        <th>Mô tả</th>
                        <th>Mã sản phẩm</th>
                        <th>Ngày ra mắt</th>
                        <th>Giá sản phẩm </th>
                        <th>Edit</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr *ngFor='let product of products'>
                        <td><img [src]="product.imageUrl" width="50px"></td>
                        <td>{{product.productName}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.productCode}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price}}</td>
                        <td><button class="btn btn-danger" (click)="handleDelete(product.id)">Xóa</button></td>
                        <td><button class="btn btn-primary" [routerLink]="['/admin/products/update',product.id]">Cập nhật</button></td>
                        <td> <a class="btn btn-warning" [routerLink]="['/products', product.id]">Xem sản phẩm</a></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>