<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="footer">
        <div class="box">
            <div class="logo">
                <img src="img/logo.png" alt="">
            </div>
            <p>Cung cấp sản phẩm chất lượng cao</p>
        </div>
        <div class="box">
            <h3>Nội dung</h3>
            <ul class="quick-menu">
                <div class="item">
                    <a href="">Trang chủ</a>
                </div>
                <div class="item">
                    <a href="">Sản phẩm </a>
                </div>
                <div class="item">
                    <a href="">Liên hệ</a>
                </div>
                <div class="item">
                    <a href="">Blog</a>
                </div>
            </ul>
        </div>
        <div class="box">
            <h3>Liên hệ</h3>
            <form action="">
                <input type="text" placeholder="Email">
                <button>Click</button>
            </form>
        </div>
    </div>
</body>
</html>