.container {
    margin-top: 20px;
    height: 300px;
}

.container h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

.form-group {
    margin-top: 20px;
}

.form-group .email {
    margin-top: 20px;
}

button {
    margin-top: 20px;
}