* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0%;
}

nav .logo {
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    margin: 0px 10px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 0;
    transition: all 0.3 ease;
}

nav ul li a:hover::before {
    width: 100%;
}

nav ul i {
    font-size: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.flex-box {
    display: flex;
    width: 1000px;
    margin: 20px auto;
}

.left {
    width: 50%;
}

.big-img img {
    width: 300px;
    margin-top: 40px;

}

.images {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 15px;

}

.small-img {
    width: 100px;
    /* overflow: hidden; */
    /* border: 1.5px solid black; */
    margin-right: 15px;
}

.small-img img {
    width: inherit;
    cursor: pointer;
    transition: all 0.3 ease;
}

.small-img:hover img {
    transform: scale(1.2);
}

.url {
    font-size: 16px;
    font-weight: 400;
    color: red;
}

.pname {
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}

.desc i {
    color: rgb(255, 174, 0)
}

.price {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

.color {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.color .combo {
    font-weight: bold;
    color: red;

}

.color p {
    font-size: 10px;
    font-weight: 500;
}

.pcolor {
    width: 80px;
    height: 30px;
    border: 1px solid #ff5e00;
    color: #000;
    text-align: center;
    margin: 0 10px;
}

.pcolor.active {
    border-width: 1.5px;
    color: #ff5e00;
    font-weight: 500;
}

.quantity {
    display: flex;
}

.quantity p {
    font-size: 18px;
    font-weight: 600;
}

.quantity input {
    width: 30px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-left: 15px;
}

.btn-box {
    display: flex;
    margin-top: 40px;
}

.btn-box button {
    font-size: 18px;
    padding: 18px 25px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: black;
}

.cart-btn {
    background-color: #ff5e00;
    margin-right: 10px;
}

.buy-btn {
    background-color: aqua;
}

.cart-btn:hover {
    background: #ff3c00;
}

.buy-btn:hover {
    background-color: rgb(0, 89, 255);
}

#footer {

    width: 100%;
    background: rgb(0, 0, 0, 0.79);
    height: 322px;
    margin-top: 150px;
    padding: 0px 63px;
    padding-top: 57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color: #fff;
}

#footer .box .quick-menu {
    margin-top: 40px;
}

#footer .box .quick-menu .item {
    margin-bottom: 12px;
}

#footer .box .quick-menu,
.item a {
    color: #fff;
    text-decoration: none;
}

#footer .box form input {
    width: 294px;
    height: 42px;
    background: transparent;
    padding-left: 20px;
    color: #fff;
    margin-top: 30px;
}

#footer .box form button {
    background: #362f2f;
    box-shadow: 5px 5px 4px rgb(0, 0, 0.25);
    width: 163px;
    height: 38px;
    margin-top: 29px;
    color: #fff;

}

#banner {
    width: 100%;
    background-image: url("/assets/banner.png");
    height: 463px;
    margin-top: 40px;
    display: flex;
    padding: 0px 133px;
    position: relative;
}

#footer .box .quick-menu .item {
    margin-bottom: 12px;
}

#banner .box-left,
#banner .box-right {
    width: 50%;
}

#banner .box-left h2 {
    font-size: 48px;
    margin-top: 75px;
    color: #fff;
}

#banner .box-left p {
    color: #d0d0d0;
    font-size: 30px;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: #1d1a1a;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}

#banner .box-left button:hover {
    background: orange;
}

#banner .box-right {
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin: 0px 10px;
    animation: animation 3s infinite linear;
}

.user button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.user {
    margin-left: 20px;
}