<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="logo">Logo</div>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Product</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <i class="fas fa-shopping-cart"></i>
        </ul>

    </nav>
    <div id="banner">
        <div class="box-left">

            <h2>Best things</h2>
            <p>Providing nutrious foods for community</p>
            <button>Buy now</button>
        </div>
        <div class="box-right">
            <img src="../../../../assets/img_1.png" alt="">
            <img src="../../../../assets/img_2.png" alt="">
            <img src="../../../../assets/img_3.png" alt="">

        </div>
        <div class="to-bottom">
            <a href="">
                <img src="../../../../assets/to_bottom.png" alt="">
            </a>
        </div>

    </div>

</body>

</html>